[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no
[ req_distinguished_name ]
countryName                 = country
stateOrProvinceName         = state
localityName               = city
organizationName           = name
commonName                 = example.node1
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = example.com
DNS.2   = example.node2
DNS.3   = example.kibana
~
~
~
