[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt = no
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = ST
localityName               = city
organizationName           = eminent
commonName                 = elasticsearch-node1
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = elasticsearch-node2
DNS.2   = elasticsearch-node1
DNS.2   = kibana
